$azulClaro: #3399FF;
$azulOscuro: #003366;
$gris: #F2F2F2;
$amarillo: #FFCC00;
$verde: #11654d;
$red: rgb(189, 13, 13);

$phone-breakpoint: 600px;
$ipad-breakpoint: 768px;
$desktop-breakpoint: 992px;
